

<div class= "container">
    <!---->

<div class="extra-margin"> </div>

<!--Register form-->
<div class="container">
<form>
 <div class=" px-2 mt-4 mb-4 pb-4 pt-4 reg-form" >
  <div class=" rounded-0 reg-card px-2 ">

     <p id="blue-signup" class="h5 ml-1 mt-4 mb-2  white-text">Sign up</p>

      <div class="row ">

        <div class="col-6">
          <div class="md-form">
              <i class="fa fa-user prefix white-text"></i>
              <input type="text" id="orangeForm-name" class="form-control" mdbActive>
              <label for="orangeForm-name">Company</label>
          </div>
          <div class="md-form">
              <i class="fa   fa-briefcase prefix white-text"></i>
              <input type="text" id="orangeForm-email" class="form-control" mdbActive>
              <label for="orangeForm-email">Title</label>
          </div>

          <div class="md-form">
              <i class="fa fa-user prefix white-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
              <label for="orangeForm-pass">First Name</label>
          </div>
          <div class="md-form">
              <i class="fa fa-user prefix white-text"></i>
              <input type="text" id="orangeForm-name" class="form-control" mdbActive>
              <label for="orangeForm-name">Last Name</label>
          </div>
           <div class="md-form">
              <i class="fa  fa-lock prefix white-text"></i>
              <input type="text" id="orangeForm-name" class="form-control" mdbActive>
              <label for="orangeForm-name">Password</label>
          </div>
          </div>
          <div class="col-6">




           <div class="md-form">
              <i class="fa fa-envelope prefix  white-text"></i>
              <input type="text" id="orangeForm-email" class="form-control" mdbActive>
              <label for="orangeForm-email">Email</label>
          </div>

          <div class="md-form">
              <i class="fa fa fa-drivers-license-o prefix  white-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
              <label for="orangeForm-pass">Address</label>
          </div>
          <div class="md-form">
              <i class="fa fa-lock fa-phone prefix white-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
              <label for="orangeForm-pass">Cell Phone</label>
          </div>
           <div class="md-form">
              <i class="fa fa-photo prefix white-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control" mdbActive>
               <label for="orangeForm-pass">Image</label>
          </div>
            <div class="md-form">
              <i class="fa  fa-lock prefix white-text"></i>
              <input type="text" id="orangeForm-name" class="form-control" mdbActive>
              <label for="orangeForm-name">Password Confirmation</label>
          </div>
         </div>
       </div>
       <div class="mt-0 mb-2 ">
        <button id="bule-reg-btn" type="button" class="btn-elegant btn-lg rounded-0">Get Strated</button>

        </div>
       </div>
        </div>
     </div>
    </div>




