  <% if user_signed_in?%>




<div class="container ">
<!--   <div class="row top-section">
  <div class="col-md-3 col-sm-3 col-xs-6  ml-auto mr-auto">
    <div class="alert alert-info back-widget-set text-center rounded-0">
          <i class="ion-ios-people-outline fa-5x"></i>
          <h3  class="widget-heading">500 Contacts</h3>

      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6  ml-auto mr-auto">
    <div class="alert alert-success back-widget-set text-center rounded-0">
          <i class="fa-5x ion-ios-list-outline"></i>
          <h3  class="widget-heading">300 Tasks</h3>

      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6  ml-auto mr-auto">
    <div class="alert alert-warning back-widget-set text-center rounded-0">
          <i class="ion-android-bulb fa-5x"></i>
          <h3  class="widget-heading">56 Calls</h3>

      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6  ml-auto mr-auto">
    <div class="alert alert-danger back-widget-set text-center rounded-0">
          <i class="ion-ios-pulse fa-5x"></i>
          <h3 class="widget-heading">30 Issues </h3>

      </div>
    </div>
  </div> -->

<div class="row">
    <div class="col-xl-3 col-md-6 card-main">
        <div class="card card-stats rounded-0">
            <!---->
            <!---->
            <div class="">
                <div class="alert alert-info back-widget-set text-center rounded-0">
          <i class="ion-ios-people-outline fa-5x"></i>
          <h3  class="widget-heading">500 Contacts</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class="card card-stats rounded-0">
            <!---->
            <!---->
            <div class="">
                 <div class="alert alert-success back-widget-set text-center rounded-0">
          <i class="fa-5x ion-ios-list-outline"></i>
          <h3  class="widget-heading">300 Tasks</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class="card card-stats rounded-0">
            <!---->
            <!---->
            <div class="">
                 <div class="alert alert-warning back-widget-set text-center rounded-0">
          <i class="ion-android-bulb fa-5x"></i>
          <h3  class="widget-heading">56 Calls</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class="card card-stats rounded-0">
            <!---->
            <!---->
            <div class="">
                <div class="alert alert-danger back-widget-set text-center rounded-0">
          <i class="ion-ios-pulse fa-5x"></i>
          <h3 class="widget-heading">30 Issues </h3>
       </div>
     </div>
    </div>
  </div>
</div>
</div>
<div class="container-large">
  <div class="tab-btn-sec">
    <form class="inline-form">
    <button class="btn btn-default ">Contacts</button><button type="button" class="btn btn-blue-grey">Properties</button> <button type="button" class="btn btn-blue-grey">Employees</button><button type="button" class="btn btn-blue-grey">Journals</button><button type="button" class="btn btn-blue-grey">Projects</button><button type="button" class="btn btn-blue-grey">Marketing</button><button type="button" class="btn btn-blue-grey">Companies</button><button type="button" class="btn btn-blue-grey">Messages</button><button type="button" class="btn btn-blue-grey btn-last">Actions</button>
    </form>
  </div>
    </div>
   <div class="container-extra-3 ">
 <div class="margin-top"> </div>

    <div class="row table-sec">
      <div class="column">
        <table class="table table-inverse">
          <thead>
            <tr><h3 class="">Users</h3></tr>
            <tr>
              <th>Name</th>
              <th>Email</th>

            </tr>
         </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <%= render user %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <%else %>
    <div class="jumbotron rounded-0 black" >
  <h1 class="display-3  text-left "> Welcome  to your  <span class="welcome-text  "  style="color: #004267 !important"> app<span></h1>
   <p class="lead"><br></p>
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg rounded-0" href="/users/sign_up" role="button">Register Now</a>
    <a class="btn btn-lg btn-outline-success rounded-0" href="/users/sign_in" role="button">Or Login</a>
  </p>
</div>

   <!-- FEATURES
    ================================================== -->
    <section class="section_features" id="section_features">
      <div class="container">
        <div class="app-futures">
          <h2 class="text-center">App Futures </h2>
          <hr class="app-futures-hr text-center">

        </div>

     <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon text-center">
                <h3> <i class="ion-android-laptop "></i></h3>
              </div>
              <p class="lead text-center">
                Fully responsive
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon text-center">
               <h3> <i class="ion-android-options "></i></h3>
              </div>
              <p class="lead text-center">
                Multiple config options
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon text-center">
                 <h3><i class="ion-android-upload"></i></h3>
              </div>
              <p class="lead text-center">
                Database intergration
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row bottom-row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon text-center">
               <h3> <i class="ion-android-checkmark-circle "></i></h3>
              </div>
              <p class="lead text-center">
                Built with LESS
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon text-center">

              </div>
              <h3 class="features__item__heading text-center">
                <i class="ion-android-send "></i>
              </h3>
              <p class="lead text-center">
              Email Marketing
              </p>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon text-center">
                <h3><i class="ion-android-mail"></i></h3>
              </div>
              <p class="lead text-center">
                Free support by email
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <div class="container text-center">



     <br>
    <br>
    </div>
<%end%>



