
  <div class="jumbotron rounded-0">
    <div class="container black">
      <h1>Welcome!</h1>
      <span>&nbsp;Register to get started.</p></span><p>
      <p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Register', new_user_registration_path, class: 'btn btn-lg btn-outline-primary rounded-0' %></span>
      </p>
    </div>
  </div>

