  <% if user_signed_in?%>

<div class="container ">

<div class="row">
    <div class="col-xl-3 col-md-6 card-main">
        <div class="rounded-0">
            <!---->
            <!---->
            <div class="">
                <div class="alert alert-info back-widget-set text-center rounded-0">
          <i class="ion-ios-people-outline fa-5x main-alert-icons"></i>
          <h3  class="widget-heading">500 Contacts</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class=" rounded-0">
            <!---->
            <!---->
            <div class="">
                 <div class="alert alert-success back-widget-set text-center rounded-0">
          <i class="fa-5x ion-ios-list-outline main-alert-icons"></i>
          <h3  class="widget-heading">300 Tasks</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class=" rounded-0">
            <!---->
            <!---->
            <div class="">
                 <div class="alert alert-warning back-widget-set telephone-i text-center rounded-0">
          <i id="telephone-i" class="ion-ios-telephone-outline fa-5x main-alert-icons"></i>
          <h3  class="widget-heading">56 Calls</h3>

      </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-md-6 card-main">
        <div class="rounded-0">
            <!---->
            <!---->
            <div class="">
                <div class="alert alert-danger back-widget-set text-center rounded-0">
          <i class="ion-ios-pulse fa-5x"></i>
          <h3 class="widget-heading">30 Issues </h3>
       </div>
     </div>
    </div>
  </div>
</div>
</div>
<div class="container-large">
  <div class="tab-btn-sec">
    <form class="inline-form">
    <a class="btn btn-default " id="contact-tab-btn">Contacts</a><a href="/properties" class="btn btn-blue-grey">Properties</a> <a href="/employess" class="btn btn-blue-grey">Employees</a><a href="/journals" class="btn btn-blue-grey">Journals</a><a href="/projects"  class="btn btn-blue-grey">Projects</a><a  href="/marketing"  class="btn btn-blue-grey">Marketing</a><a href="/companies" class="btn btn-blue-grey">Companies</a><a href="/messages" class="btn btn-blue-grey">Messages</a><a href="/todos" class="btn btn-blue-grey btn-last">Actions</a>
    </form>
  </div>
</div>
<div class="container-extra-3 ">
  <div class="margin-top"> </div>
  <div class="row">
<div class="col-xl-4">
  <div class=" card p-4 elegant-color task-list" id="pending" s>
    <h3 class="cyan-text">Pending</h3>
    <!-- Sample task added manually to check look -->
    <div class="todo-task">
      <div class="task-header blue-grey-text"><h5><%= @todos.last.title if @todos %></h5></div>
      <div class="task-date amber-text"><p><%= @todos.last.created_at.strftime('%B %d %Y') if @todos %></p></div>
      <div class="task-description"><p><%= @todos.last.description if @todos %></p></div>
      <hr>
    </div>
  </div>
<%= render 'todos/form', todo: @todo %>
<!-- end of todo list -->
</div>
 <div class="col-xl-8">
<div class="card">
      <div class="card-header">
          <h4 class="title">Marketing Stats</h4>
          <p class="category">Emails and sales flyers for March, 2018</p>
      </div>
      <div class="card-content table-responsive">
          <table class="table table-hover">
              <thead id= "cmarketing-heading" class="text-warning ">
                  <th>Name</th>
                  <th>Type</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Date</th>
              </thead>
              <tbody>
                  <tr>
                      <td>J&J Automotive</td>
                      <td>Email</td>
                      <td>Warehouse.Fishkill</td>
                      <td>56 Recipients</td>
                      <td>Tue, Feb 20, 11:02 am</td>
                  </tr>
                  <tr>
                      <td>38 Route 9</td>
                      <td>Email</td>
                      <td>Warehouse/westchester</td>
                      <td>51 Recipients</td>
                      <td>Thu, Dec 14, 2017 9:53 am</td>
                  </tr>
                  <tr>
                      <td>235 main st</td>
                      <td>Email</td>
                      <td>Accounts/office</td>
                      <td>54 Subscribers</td>
                      <td>Fri, Apr 28, 2:54 pm</td>
                  </tr>
                  <tr><td>Ulster County</td>
                      <td>Flyer</td>
                      <td>Warehouse/Ulster</td>
                      <td>90 Recipients</td>
                      <td>Fir, Feb 23, 11:02 am</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
<!--Table-->
<table class="table">
  <div class="card-header stylish-color">
          <h4 class="title">Touches</h4>
          <p class="category">You points of contact March, 2018</p>
      </div>
    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>Name</th>
            <th>Use</th>
            <th>Fequency</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>warhouse</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Otto</td>
            <td>development</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Jhon </td>
            <td>office</td>
            <td>1</td>
        </tr>
    </tbody>
    <!--Table body-->

</table>
<!--Table-->


</div>



</div>


</div>



    <%else %>
    <div class="jumbotron rounded-0 black" >
  <h1 class="display-3  text-left "> Welcome  to your  <span class="welcome-text  "  style="color: #004267 !important"> app<span></h1>
   <p class="lead"><br></p>
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg rounded-0" href="/users/sign_up" role="button">Register Now</a>
    <a class="btn btn-lg btn-outline-success rounded-0" href="/users/sign_in" role="button">Or Login</a>
  </p>
</div>

   <!-- FEATURES
    ================================================== -->
    <section class="section_features" id="section_features">
      <div class="container">
        <div class="app-futures">
          <h2 class="text-center">App Futures </h2>
          <hr class="app-futures-hr text-center">

        </div>

     <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon text-center">
                <h3> <i class="ion-android-laptop "></i></h3>
              </div>
              <p class="lead text-center">
                Fully responsive
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon text-center">
               <h3> <i class="ion-android-options "></i></h3>
              </div>
              <p class="lead text-center">
                Multiple config options
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon text-center">
                 <h3><i class="ion-android-upload"></i></h3>
              </div>
              <p class="lead text-center">
                Database intergration
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row bottom-row">
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-0" data-animate="animate-up">
              <div class="features__item__icon text-center">
               <h3> <i class="ion-android-checkmark-circle "></i></h3>
              </div>
              <p class="lead text-center">
                Built with LESS
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-1" data-animate="animate-up">
              <div class="features__item__icon text-center">

              </div>
              <h3 class="features__item__heading text-center">
                <i class="ion-android-send "></i>
              </h3>
              <p class="lead text-center">
              Email Marketing
              </p>
            </div>

          </div>
          <div class="col-sm-4">

            <div class="features__item animate-sm-step-2" data-animate="animate-up">
              <div class="features__item__icon text-center">
                <h3><i class="ion-android-mail"></i></h3>
              </div>
              <p class="lead text-center">
                Free support by email
              </p>
              <div class="features__item__body">
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <div class="container text-center">



     <br>
    <br>
    </div>
<%end%>



