<div class="container">


    <h1  class=" ml-3 pl-1">New Property <span class="pl-4 ml-4"><%= link_to 'Back', properties_path, class: "ml-4 " %></span></h1>

    <%= render 'form', property: @property %>


 </div>
