<h1>New Compaine</h1>



<body>
<div class="text-center">
  <!-- Button HTML (to Trigger Modal) -->
  <button type=" btn btn-seconday "><a href="#myModal" class="trigger-btn btn" data-toggle="modal">Click to add a new contact to the database</a></button>

</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade rounded-0">
  <div class="modal-dialog modal-login" >
    <div class="modal-content"  style="border-radius: 0px;">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #17a2b8;">Add a new company to the database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= render 'form', compaine: @compaine %>

      </div>

    </div>
  </div>
</div>
 <center><a href="/" title="">Return back to your dashbord</a></center>
