// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.


// make all images responsive by default

// override for the 'Home' navigation link
.navbar-brand {
  font-size: 22px;
  }
  .mb-4 .navbar .navbar-expand-lg .navbar-dark {
    height: 60px !important;
  }
   #lower-navbar{
    box-shadow: none !important;
    height: 90px !important;
  }
  .jumbotron {
    background-image: url('andy-kerr-153378-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid #004267;
    height: 360px;
  }
   .jumbotron h1,  .jumbotron p {
    color: #fff;
   }
   .bottom-row {
    margin-top: 10px;
   }


.cred-heading {
  padding-top:  10px;
  color: #004267;
}
.login-head {
margin-top: 20px;
margin-bottom: 20px;
}

.nav-tab-sec {
  margin-top: 20px;
}
.authform {
  margin-top: 40px;
  padding-top: 30px;
  width: 380px;
  margin: 0 auto;
  color: #fff;

}
.reg-form, .authform {
  background-color: #004267 !important;
}
#session-submit{
  background-color: #004267 !important;

}
.authform .right {
 margin-left: 5px  !important;
}
.reg-form, #bule-reg-btn ,#login-submit{
  background-color: #004267 !important;
}

.authform .button , .reg-form{

  background: #004267;
  color: #FFF;
  width: 100%;
}
.extra-margin {
  margin-top: 60px;
}
.wide-form {
  max-width: 400px;
}

.btn-edit {

  width: 107% !important;

}
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color:gray !important;
}

.navbar .dropdown-menu a.white{
  color: white !important;
}

@media (max-width: 560px) {
  .container-large {
    width: 95% !important;
  }
  .btn-last {
    width: 97%;
    margin: auto;
    display: block;
  }
  .tab-btn-sec .btn{
    width: 100%;
    margin: auto;
    display: block;
  }
  .container-extra-3 {
    width: 100%;
    margin: auto;
  }
    .container-extra-3 table{
      margin: 0px;
    width: 100%;

  }
}

// table section


table, th, td, .table-headding, thead {
   border: 1px solid whitesmoke;

}
