/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media (max-width: 450px) { .welcome-text {display: none;}}

 .features__item {
  margin-top: 15px;
 }
 #section_features  .app-futures {  max-width: 30%; margin: 0 auto;  }
 #section_features  .app-futures > h2  { margin-top: 25px;}
 .app-futures-hr {width: 20%; background-color: #3c6382;}
 .features__item i {
  margin-bottom: 20px;
  font-size: 50px;
 }
 .features__item .lead {
    margin: 10px 0px;
 }
 #wysiwyg i {
  color: black;
 }
 #main-navbar {
  border-bottom: 4px solid #004267;
 }
 #top-alert-box {margin-bottom: 0px; padding-bottom: 8px;}
 body {
   border-top: 5px solid #004267;
   background: #263238;
   color: #fff;
   margin: 0px;
   padding: 0px;
 }
#main-search input[type=text]{width:220px !important; height: 37px !important;}

.dropdown-toggle::after {
    display:none
}
body {
    // font-family: 'Open Sans', sans-serif;
    line-height:28px;

}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */
 .nav-hr {
  margin-top: -10px;
 }
.navbar .navbar-brand, #lower-navbar a{
  font-weight: 200;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
    /* =============================================================
   DASHBOARD STYLES
 ============================================================ */
.slide-bdr, .pad-botm {

   /*border-bottom: :5px solid #9170E4;*/
}
.back-widget-set {
    background-color:transparent;
    min-height: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* =============================================================
   Login SECTION STYLES
 ============================================================ */
.user-creds-wrapper {
  max-width: 74%;
  margin: 0 auto;
}
#long-input {
  width: 300px;
  margin-left: 16px;
  margin-right: 4px;
}
.black {
  color: black;
}
/*    bottstrap styles*/
.register-head {
  margin-top: 30px;
}

.fa-5x {
  font-size: 60px;
}
hr {
  background-color: #fff;
}

.ion-android-apps{
  font-size: 35px;
}
.top-section {
  margin-bottom: -30px;
}
.tab-panel {
  padding-top: 14px;
  height: 50px;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
}
.container-extra-3 {
  max-width: 71%;
  margin: auto;
  padding-right: 14.4px;
}
.container-extra-2 {
  max-width: 73%;
  margin: auto;

}
.container-extra-2 .btn a {
  color: black !important;
 }
.top-section {
  padding-top: 0px;
}
.alert.back-widget-set {
  padding-top: 0px;
  height: 160px !important;
  padding-bottom: 0px;
}
.dark-blue, .card-footer{
   background: #37474F;
}

.last-btn {
  margin-right: 0px;
}

.card-body {
  color: #fff;
}
.card-body .btn-simple {
  margin-right: 4px !important;
}
.table-headding {
  padding-left: 15px;
}
.highlighted  {
  color: #00BFA5 !important;
}
label {
  color: #fff
}

