/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .wrapper {
    height: 100vh;
  }
  .container-large {
    width: 80%;
    margin: auto;
  }
.tab-btn-sec {
  background-color: gray;
  margin-bottom: 20px;

}

.nav-tab-sec, .nav-tab-sec a  {

  height: 60px;

}


.row {
  margin-bottom: 30px;
}

 .features__item {
  margin-top: 15px;
 }
 #section_features  .app-futures {  max-width: 30%; margin: 0 auto;  }
 #section_features  .app-futures > h2  { margin-top: 25px;}
 .app-futures-hr {width: 20%; background-color: #3c6382;}
 .features__item i {
  margin-bottom: 20px;
  font-size: 50px;
 }
 .features__item .lead {
    margin: 10px 0px;
 }
 #wysiwyg i {
  color: black;
 }
 #main-navbar {
  border-bottom: 4px solid #004267;
 }
 #top-alert-box {margin-bottom: 0px; padding-bottom: 8px;}
 .wrapper{
   border-top: 5px solid #004267;
   background: #263238;
   color: #fff;
   margin: 0px;
   padding: 0px;
 }
.btn-outline-success #main-search input[type="text"]{width:520px !important; height: 37px !important;}

.dropdown-toggle::after {
    display:none
}
body {
    // font-family: 'Open Sans', sans-serif;
    line-height:28px;

}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.navbar .navbar-brand, #lower-navbar a{
  font-weight: 200;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:transparent;
}
    /* =============================================================
   DASHBOARD STYLES
 ============================================================ */

.alert.back-widget-set {
    background-color:transparent;

    margin-top: -10px;
    margin-bottom: 10px;
    border: none;
}
 .widget-heading {margin-top: -19px;}
/* =============================================================
   Login SECTION STYLES
 ============================================================ */
.user-creds-wrapper {
  max-width: 74%;
  margin: 0 auto;
}
#long-input {
  width: 300px;
  margin-left: 16px;
  margin-right: 4px;
}
.black {
  color: black;
}
/*    bottstrap styles*/
.register-head {
  margin-top: 30px;
}

.fa-5x {
  font-size: 60px;
}
hr {
  background-color: #fff;
}

.ion-android-apps{
  font-size: 35px;
}
.top-section {
  margin-bottom: -60px;
  margin-top: -16px;
}
.tab-panel {
  padding-top: 14px;
  height: 50px;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
}
.container-extra-3 {
  max-width: 71%;
  margin: auto;
  padding-right: 14.4px;
}
.container-extra-2 {
  max-width: 73%;
  margin: auto;

}
.container-extra-2 .btn a {
  color: black !important;
 }
.top-section {
  padding-top: 0px;
}
.alert.back-widget-set {
  padding-top: 0px;
  padding-bottom: 0px;
}



.table-headding {
  margin-top: 12px;
  padding-left: 15px;
}
nav .navbar .highlighted  {
  color: #00BFA5 !important;
}
label {
  color: #fff
}
.user-profile.author { color: black !important;}
.clear {
  .group:after {
  content: "";
  display: table;
  clear: both;
}
}
.card {
  color: black;

}
.margin-top {
  margin-top: 50px;
}
.less-space {
 margin-top: -30px;
}
 .card-stats { padding-top: -10px;  }
 .card-main {
  margin-top: 23px;
  padding-top: -13px;
  margin-bottom: -5px;
 }
html {
     background: #263238;
   color: #fff;
}
table td a{
  color: #fff !important;
}
.table-sec{

}
.authform #login-password-input{
  max-width: 84.5% !important;
  overflow: hidden;
}


.authform #login-email-input {
  max-width: 87.5% !important;
  overflow: hidden;
}










